* {
    font-family: 'Cutive Mono', monospace;
}

h1 { 
    font-size: 40px;
}
h2 { font-weight: normal; }
h3 {
    font-weight: normal;
    text-decoration: underline;
}

p { position: relative; }
 /* the above code is to do with positioning, and allows us to use the z-index property below, we will get to positioning a bit later on */  
  p::after {
    content: "";
    background-color: palegoldenrod;
    height: 20px;
    width: 100%;
    right: 20px;
    position: absolute;
    z-index: -1;
}

#about-me {
    border-style: solid;
    border-radius: 5px;
    border-color: teal;
}
.qualities {
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
}
.hobbies-interests {
    border-style: solid;
    border-radius: 5px;
    border-color: coral;
}
#about-me:hover { box-shadow: 3.75px 6px teal; }
.qualities:hover { box-shadow: 3.75px 6px aquamarine; }
.hobbies-interests:hover { box-shadow: 3.75px 6px coral; }

.circle-pic {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic { max-width: 100%; }

.pcPicture {
    height: 250px;
    width: 375px;
}

.poolPicture {
    height: 300px;
    width: 450px;
}

#about-me h3 {
    background-color: coral;
    text-align: center;
    padding: 5px;
}

#about-me > p { color: teal; }

#about-me > div > p { color: indigo; }

#box:checked { box-shadow: 0 0 0 3px green; }

#box:checked + label { color: green; }

#about-me > h3:hover {
    color: white;
    background-color: teal;
    text-align: center;
    font-size: 23px;
}

#socials button:hover { box-shadow: 2.5px 4px; }

.contact:visited { color: blue; }

.projects:active { color: crimson; }

a[data-anchor="sport"] { color: red; }