* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Experimenting with navbar links */
.navbar > a { 
    text-decoration: none;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
    color: #242038;
}

header {
    background-color: #D8D8F6;
}

h1 { 
    font-size: 40px;
}
h2 { font-weight: normal; }
h3 {
    font-weight: normal;
    text-decoration: underline;
}


/* Experimenting with paragraph font styling */
#about-me p {
    letter-spacing: 1px;
    word-spacing: 3px;
}


/* Three main boxes on homepage */
#about-me {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 2px;
    border-color: teal;
}
.qualities {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 2px;
    border-color: #1a54d1;
}
.hobbies-interests {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 2px;
    border-color: #242038;
}
#about-me:hover { box-shadow: 3.75px 6px teal; }
.qualities:hover { box-shadow: 3.75px 6px #1a54d1; }
.hobbies-interests:hover { box-shadow: 3.75px 6px #242038; }


/*  Hover features for boxes */
#about-me h3 {
    background-color: rgb(219, 218, 218);
    text-align: center;
    padding: 5px;
}
#about-me h3:hover {
    color: white;
    background-color: teal;
    font-size: 23px;
}
.qualities h3 {
    background-color: rgb(219, 218, 218);
    text-align: center;
    padding: 5px;
}
.qualities h3:hover {
    color: white;
    background-color: #1a54d1;
    font-size: 23px;    
}
.hobbies-interests h3 {
    background-color: rgb(219, 218, 218);
    text-align: center;
    padding: 5px;
}
.hobbies-interests h3:hover {
    color: white;
    background-color: #242038;
    font-size: 23px;
}


/* Picture stylings */
.circle-pic {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 30px 5px 30px;
}
.profile-pic { max-width: 100%; }
.pcPicture {
    height: 337px;
    width: 450px;
}
.poolPicture {
    height: 300px;
    width: 450px;
}


/* Bottom of page & EXTRAS */
#box:checked { box-shadow: 0 0 0 3px green; }

#box:checked + label { color: green; }    

footer {
    background-color: #242038;
    color: white;
}
footer a {
    color: #D8D8F6;
}