* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}

/* Top Of Page Flex-boxes */
.top-of-page {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
}
.navbar {
    display: flex;
    justify-content: end;
    padding: 15px 0px 15px 0px;
    background-color: #242038;
    background-color: #242038;
}
.navbar a { padding: 0px 25px 0px 25px; }
.navbar a:last-of-type { margin-right: 15px; }


/* Experimenting with navbar links */
.navbar > a { 
    text-decoration: none;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
    color: #D8D8F6;
}


/* Geneal Header Specifics (for whole page) */
header { background-color: #D8D8F6; }
h1 { 
    font-size: 40px; 
    margin-left: 20px;
}
h2 { 
    font-size: 19px;
    font-weight: normal;
    margin-right: 20px; 
}
h3 {
    font-weight: normal;
    text-decoration: underline;
    font-size: 30px;
}






/* About me flex container     -      Make external 'about-me' container a grid potentially? so it scales with screen size */
.about-me-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.about-me-text {
    max-width: 80%;
}

/* Picture stylings */
.circle-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 30px 15px 30px;
}
.profile-pic { 
    max-width: 100%;
}




/* Qualities flex container */
.qualities-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qualities-text {
    max-width: 80%;
}
.pcPicture {
    height: 252.75px;
    width: 337.5px;
    border-radius: 10px 0px 25% 0px;
}


/* Hobbies and Interests flex container */
.hob-int-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hob-int-text {
    max-width: 80%;
}
.poolPicture {
    height: 240px;
    width: 320px;
    border-radius: 0px 10px 0px 25%;
}




/* Three main boxes on homepage */
.about-me {
    border-style: solid;
    border-width: 2.5px;
    border-color: teal;
}
.qualities {
    border-style: solid;
    border-width: 2.5px;
    border-color: #1a54d1;
}
.hobbies-interests {
    border-style: solid;
    border-width: 2.5px;
    border-color: #242038;
}
.about-me:hover { box-shadow: 3.75px 6px rgb(1, 112, 112); }
.qualities:hover { box-shadow: 3.75px 6px #1648b4; }
.hobbies-interests:hover { box-shadow: 3.75px 6px #09080e; }


/*  Hover features for boxes */
.about-me h3 {
    background-color: rgb(219, 218, 218);
    text-align: center;
    padding: 5px;
}
.about-me h3:hover {
    color: white;
    background-color: teal;
    font-size: 23px;
}
.qualities h3 {
    background-color: rgb(219, 218, 218);
    text-align: center;
    padding: 5px;
}
.qualities h3:hover {
    color: white;
    background-color: #1a54d1;
    font-size: 23px;    
}
.hobbies-interests h3 {
    background-color: rgb(219, 218, 218);
    text-align: center;
    padding: 5px;
}
.hobbies-interests h3:hover {
    color: white;
    background-color: #242038;
    font-size: 23px;
}


/* Projects Section */
.project-title {
    text-align: center;
    text-decoration: none;
}
.proflex {
    display: flex;
    justify-content: center;
}
.project {
    color: white;
    font-size: 1.25em;
    border: 2px solid #242038;
    border-radius: 10px;
    width: 25%;
    height: 200px;
    margin: 20px;
}
.project-1 { background-color: teal; }
.project-2 { background-color: teal; }
.project-3 { background-color: teal; }
.project h4 {
    text-align: center;
    font-weight: normal;
}



/* Languages section */
.langauge-title {
    display: flex;
    justify-content: center;
}
.langauge-title h2 {
    font-size: 25px;
    margin: 20px 0px 20px 0px;
}
.langauge-icons { /* Parent flex */
    display: flex;
    justify-content: center;
}
.langauge-icons i { /* Nested flex to centre items */
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands {
    margin: 0px 15px 0px 15px;
    padding: 15px 15px 15px 15px;
    background-color: rgb(236, 236, 236);
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px black;
    border-radius: 50%;
}
.fa-html5:hover {
    color: #e34c26;
    background-color: white;
    border-color: #e34c26;    
}
.fa-css3-alt:hover {
    color: #264de4;
    background-color: white;
    border-color: #264de4;    
}
.fa-js:hover {
    color: #f0db4f;
    background-color: white;
    border-color: #f0db4f;    
}





/* Contact Section */
.contact-title {
    text-align: center;
    text-decoration: none;
}
.name-email {
    display: flex;
    justify-content: center;
}
.ne {
    margin: 5px 30px 10px 30px;
    font-size: 20px;
}
.message {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.submit {
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
    font-size: 50px;
}




/* Bottom of page & EXTRAS */
footer {
    background-color: #242038;
    color: #D8D8F6;
}
.top-of-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}
footer h3 {
    font-size: 25px;
    text-decoration: none;
}
.top-of-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .fa-angle-up {
    padding: 15px;
    margin-right: 20px;
    margin-top: 10px;
    border: solid 1px #D8D8F6;
    border-radius: 50%;
    width: 16px;
    text-align: center;
}
footer .fa-angle-up:hover {
    color: #242038;
    background-color: #D8D8F6;
}


footer a {
    color: #D8D8F6;
    text-decoration: none;
}
.social-icons {
    padding: 0px 30px 30px 15px;
}
footer .fa {
    font-size: 30px;
    margin: 5px 10px 0px 10px;
}
footer .fa-envelope {
    font-size: 30px;
    margin: 5px 10px 0px 10px;
}
.bottom-of-footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}



/* Media queries for main sections of page (tablet and above size screen) */
@media screen and (min-width: 768px) {
    .about-me-content {
        flex-direction: row;
    }
    .about-me-text {
        max-width: 50%;
        order: 1;
        margin-left: 30px;
    }
    .qualities-content {
        flex-direction: row;
    }
    .qualities-text {
        order: -1;
        margin-left: 30px;
    }
    .hob-int-content {
        flex-direction: row;
    }
    .hob-int-text {
        order: 1;
    }
  
}